body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    background-color: #81c6f1;
    color: white;
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .item-list, .cart {
    flex: 1 1 45%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .item, .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .item-image {
    width: 70px;
    height: 70px;
    object-fit: cover; /* Ensures the image covers the area without distorting */
    border-radius: 8px; /* Optional: adds rounded corners */
    margin-right: 15px; /* Adds space between the image and item details */
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    
    .item-image {
        width: 80px;
        height: 80px;
      }
  }
  